//snippet page with journal entry page

  .main--post-entry
    time 2014-03-11
    .star-box
      p Rate Virtues
      ul
        li
          ul
            li virtue 1
            li * * * * *
        li
          ul
            li virtue 2
            li * * *
        li
          ul
            li virtue 3
            li * *
      textarea.post-text(type='text' name='entryText')
      button Post
