// snippet page that display all journal entries

.main--view-entries
  time.time--view
  ul.virtue-list--view-page
    li.virtue__outer-box--view-page
      ul#virtue-1.virtue__inner-box--view-page
        li.virtue__name Virtue 1
        li.virtue__stars * * *
    li.virtue__outer-box--view-page
      ul#virtue-2.virtue__inner-box--view-page
        li.virtue__name Virtue 2
        li.virtue__stars * *
    li.virtue__outer-box--view-page
      ul#virtue-3.virtue-box__inner-box--view-page
        li.virtue__name Virtue 3
        li.virtue__stars * * * * *
    li#virtue-average Average
