// snippet page that displays graph


#chartdiv.chart


.main--virtue-list
  ul
    li
      h3 Temperance
      p Eat not to dullness. Drink not to elevation.
    li
      h3 Sincerity
      p Use no hurtful deceit. Think innocently and justly; and if you speak, speak accordingly.
    li
      h3 Justice
      p Wrong none by doing injuries, or omitting the benefits that are your duty.
    li
      h3 Chastity
      p Rarely use venery but for health or offspring; never to dullness, weakness, or the injury of your own or another's peace or reputation.



block scripts
  script(src='/js/vendor/jquery-2.1.1.js')
  script(src='/js/es6/compiled/chart.js')
  script(src='http://www.amcharts.com/lib/3/amcharts.js')
  script(src='http://www.amcharts.com/lib/3/serial.js')
  script(src='http://www.amcharts.com/lib/3/themes/patterns.js')
