// snippet page that displays graph

#graph


.main--virtue-list
  ul
    li
      h3 Temperance
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cum, nostrum iusto.
    li
      h3 Wisdom
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet id modi incidunt distinctio asperiores eveniet voluptatibus excepturi quasi praesentium.
    li
      h3 Justice
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
