// snippet page that displays graph


#chartdiv.chart


.main--virtue-list
  ul
    li
      h3 Temperance
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cum, nostrum iusto.
    li
      h3 Wisdom
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet id modi incidunt distinctio asperiores eveniet voluptatibus excepturi quasi praesentium.
    li
      h3 Justice
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.



block scripts
  script(src='/js/vendor/jquery-2.1.1.js')
  script(src='/js/es6/compiled/chart.js')
  script(src='http://www.amcharts.com/lib/3/amcharts.js')
  script(src='http://www.amcharts.com/lib/3/serial.js')
  script(src='http://www.amcharts.com/lib/3/themes/patterns.js')
