// snippet page that displays graph

p.chart-tagline Virtuous Progression
#chartdiv.chart


block scripts
  script(src='/js/vendor/jquery-2.1.1.js')
  script(src='/js/es6/compiled/chart.js')
  script(src='http://www.amcharts.com/lib/3/amcharts.js')
  script(src='http://www.amcharts.com/lib/3/serial.js')
  script(src='http://www.amcharts.com/lib/3/themes/patterns.js')
