extends ../shared/template

block content

  include ../shared/nav

  #content.main--graph
    include ../entries/trends

  .main--virtue-list
    ul
      li Temperance
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cum, nostrum iusto.
      li Wisdom
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet id modi incidunt distinctio asperiores eveniet voluptatibus excepturi quasi praesentium.
      li Justice
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

block scripts
  script(src='/js/es6/compiled/dashboard.js')
