//snippet page with registration form

form#register.meta
  input(type='text' name='name' placeholder='name')
  input(type='text' name='email' placeholder='email')
  input(type='text' name='password' placeholder='password')
  button Register
