extends ../shared/template

block content

  .account_status.meta
    ul
      li#show-sign-in Sign in
      li#show-registration Register

  form#sign-in.account-form--outer(action='/users/login' method='post' )
    .account-form--inner
      input(type='text' name='name-or-password' placeholder='name or email' autofocus=true)
      input(type='password' name='password' placeholder='password')
      button Sign In

  form#register.account-form--outer(action='/users' method='post')
    .account-form--inner
      input(type='text' name='name' placeholder='name')
      input(type='text' name='email' placeholder='email')
      input(type='password' name='password' placeholder='password')
      button Register

  .main--landing-page.meta
    .teaser-text
      h2 13 Virtues
      p.parchment--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque magnam ea aspernatur, id obcaecati! Quod unde alias consectetur doloremque adipisci ipsa voluptatem at error, beatae quibusdam quam animi consequuntur.
