extends ../shared/template

block content

  .account_status.meta
    ul
      li: a(href='#sign-in') Sign in
      li: a(href='#register') Register

  .main--landing.meta
    .teaser-text.parchment--1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque magnam ea aspernatur, id obcaecati! Quod unde alias consectetur doloremque adipisci ipsa voluptatem at error, beatae quibusdam quam animi consequuntur.
